            
            #output {
                clear: both;
            }
            
            #checkout-div {
                display: none;
            }
            
            footer {
                background-color: darkgray;
                color: white;
            }